.EventTop {
  background: #00FF77C4 ;
  border: 1px solid #707070;
  border-radius: 2em;
  padding: 0.2em 2em;
  font-weight: Bold;
  color: white;
  font-size: 2rem;
}

.EventTitleOuter {
  width: 70vw;
  height: 2vh;
  display: flex;
  margin: 0 auto;
  padding-top: 2vh
}

.EventTitleInner {
  background-color: #008061;
  color: #ffffff;
  display: flex;
  padding-bottom: 5vh;
  border-radius: 0rem 1rem 0rem 0rem;
}


.EventTitleText {
  font-size: 2rem;
  color: #00FF55;
  margin: 0vw 1vw;
}

.EventContent {
  border-radius: 0rem 2rem 2rem 2rem; 
  background-image: url("./sakura.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 70vw;
  height: 30vh;
  color: white;
  display: flex;
  margin: 0 auto;
  font-size: 2rem;
  font-size: 1rem;
}

.justifyCol {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
